<% @user.posts.each do |post| %>
    <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
<div class="card text-white text-center shadow bg-info mb-3">
  <div class="card-header bg-transparent border-white"><%=post.user.name%></div>
  <div class="card-body text-white">
    <h5 class="card-title"><%=link_to post.title,post,class:"text-white"%></h5>
    <p class="card-text"><%=post.description%></p>
  </div>
  <div class="card-footer bg-transparent border-white"><%=post.comments.count%> comments</div>
</div>
</div>
</div>
</div>
<% end %>